__pycache__
venv/
env/
.env
.venv
.ipynb_checkpoints/
.vscode/
.idea/*
build/
dist/
target/
Pipfile
Pipfile.lock
.DS_Store
secrets.json
oob_qrcode.png
oob_small_qrcode.png
prism-cli-v*/
*-workspace
docker-compose.yml