didcomm==0.3.1
peerdid==0.4.0
-e git+https://github.com/sicpa-dlab/didcomm-demo.git@ec966cae26a8b015a14ed16526a287d1501313cc#egg=didcomm_demo&subdirectory=didcomm-demo-python
uvicorn==0.17.6
fastapi==0.78.0
JPype1==1.3.0
pymongo==4.1.1
urllib3==1.26.9
pillow==9.4.0
qrcode==6.1
requests==2.25.1
importlib-metadata==4.11.3